body{
    background-color: rgb(245, 214, 174);
}

/* unvisited link */
a:link {
    color: rgb(59, 18, 18);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(59, 18, 18);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(59, 18, 18);
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: rgb(59, 18, 18);
    text-decoration: none;
  }