<!DOCTYPE html>
<html>
<title>Book</title>
<body>
    <div><h3><a href="/search">Search</a><br><a href="/cart">Cart</a></h3><a href="/track">Track Order</a><br><a href="/home"> SignIn</a></div>
   <h1>{{Book.Title}}</h1>  
   <p>Genre: {{Book.Genre}}</p>
   <p>Author: {{Book.Author}}</p>
   <p>Number of Pages: {{Book.Pages_number}}</p>
   <p>Published by: {{Publisher.Name}}</p>
   <p>{{Book.Stock}} in stock</p>
   {% if Owner.Owner == 0 %}
    <a href="/addToCart?ISBN={{Book.ISBN}}">Add to Cart</a>


    <h3>{{Cart.quantity}} in cart</h3>

        {% endif %}
        {% if Owner.Owner == 1 %}
        <a href="/remove?ISBN={{Book.ISBN}}">Remove from store</a>
        {% endif %}
    </div>

    <br><br><br>
    <h3>Similar Books</h3>
    <div>
        {% for key,value in Similar.items %}
        <p><a href="book?ISBN={{value.ISBN}}">{{value.Title}}</a> </p>
        {% endfor %}
    </div>
</body>


</html>
