<!DOCTYPE html>
<html>
<title>Cart</title>
<body>
    <div><h3><a href="/search">Search</a><br><a href="/cart">Cart</a></h3><a href="/track">Track Order</a><br><a href="/home"> SignIn</a></div>
   <h1>CART</h1>
   <h2 style="white-space: pre-wrap;">Books</h2>
    {% for key,value in Books.items %}
        {% for key2,value2 in value.items %}
            <h4 style="white-space: pre-wrap;">{{value2.Title}}</h4>
            <p style="white-space: pre-wrap;">          quantity: {{key2}}</p>
            <p style="white-space: pre-wrap;">          price: {{value2.Price}}</p>
            <br><br>
        {% endfor %}
    {% endfor %}

    <h2>TOTAL: {{Total}}</h2>

    </div>
    {% if Total != 0 %}
    <form action = "/checkout" method = "POST">
        {% csrf_token %}
        <label for="Address">Address: </label>
        <input id="Address" type="text" name="Address">
        <br><br>
        <label for="Postal">Postal:</label>
        <input id="Postal" type="text" name="Postal">
        <br><br>
        <label for="Province">Province:</label>
        <input id="Province" type="text" name="Province">
        <br><br>
        <input type="submit" value="Check Out">
        <h4>NOTE:- Leave the above inputs empty if you want to use your default address</h4>
    </form>
    {% endif %}
</body>


</html>
