<!DOCTYPE html>
<html>
<title>Success</title>
<body>
<div><h3><a href="/search">Search</a> <a href="/cart">Cart</a></h3><a href="/track">Track Order</a><br><a href="/home">SignIn</a></div>    
    
<br><br>
    <form action = "/track_order" method = "POST">
        {% csrf_token %}
        <label for="Order">Order Number: </label>
        <input id="Order" type="text" name="Order">
        <br><br>
        <input type="submit" value="Track">
    </form> 
    <br><br><br><br><br><br>

    <h2>{{note}}</h2>
    {% if Status == 1 %}
    <h4>Order Placed on: {{Date}}</h4>
    <h4>Delivery Address: {{Address}}, {{Postal}} ,{{Province}}</h4>
    <h3>Items:</h3>
        {% for key,value in order.items %}
         {% for key2,value2 in value.items %}    
         <h4>{{key2}}</h4>
         <p>Quantity: {{value2}}</p>
         {% endfor %}
        {% endfor %}
    {% endif %}
    
</body>


</html>
